// =============================================================================
// GRID (CSS)
// =============================================================================


.container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    padding: 0;
    position: relative;
    width: layout("fixed");

    @include breakpoint("large") {
        padding: 0;
    }
}
