<div class="modal-body custom-gallery-modal">   

	<div class="image-modal-wrap">
	    {{#if product.images.length '>' 1}}
	    <section class="custom-image-gallery modal-view">
	        {{#each product.images}}
	            <div data-thumbnail="{{getImage this 'productthumb_size' (cdn ../theme_settings.default_image_product)}}"
					 data-zoom="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}">
	                <img class="non-zoom-img" data-lazy="{{getImage this 'custom_modal_gallery_size' (cdn ../theme_settings.default_image_product)}}" 
	                alt="{{this.alt}}">
	            </div>
	        {{/each}}
	    </section>
	    {{else}}
	    <section class="custom-image-gallery modal-view">
	        {{#each product.images}}
	            <div data-thumbnail="{{getImage this 'productthumb_size' (cdn ../theme_settings.default_image_product)}}"
					 data-zoom="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}">
	                <img class="non-zoom-img" data-lazy="{{getImage this 'custom_modal_gallery_size' (cdn ../theme_settings.default_image_product)}}" 
	                alt="{{this.alt}}">
	            </div>
	        {{/each}}
	    </section>
	    {{/if}}
	</div>

</div>
